<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
      <%= simple_form_for(@cocktail) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
