<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path("Lounge-bar-1.jpg") %>);">
  <div class="banner-content">
    <h1 class="text-center">ALL Cocktails</h1>
  </div>
</div>


<div class="container">
  <div class="row" >
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "cocktail_card", cocktail: cocktail %>
      </div>
    <% end %>
  </div>
</div>



<div class="container">
  <h1 class="text-center">
  <%= link_to 'Create a new cocktail', new_cocktail_path %></h1>
</div>

